* {
  font-family: 'Nanum Gothic', sans-serif;
}

.problem {
  width: 1300px;
  height: 500px;
  margin: auto;
  background-color: #D3D3D3;
  border-radius: 15px;
  padding: 20px;
  margin-top: 10px;
}

.showQuestion {
  font-weight: bold;
}

table {
  border-spacing: 0px;
  table-layout: auto;
  margin-left: 0;
  margin-right: 0;
}

td {
  word-wrap: normal;
  padding: 5px;
}

.Buttons {
  width: 250px;
  padding-top: 20px;
  margin: auto;
}

#answerFirstButton #answerSecondButton #answerThirdButton #answerFourthButton {
  border: none;
  outline: none;
  display: block;
}

.button:focus {
  outline: 0;
}
  